.container1 {
    margin: 0px auto;
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.board{
    position: absolute;
    bottom: 0;
    right: 0;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;   
    color: #fff;   
    background-color: #777;
    border-radius: 10px;
}
.row {
    height: 30px;
}

.column {
    border: 1px solid rgba(97, 131, 138, .3);
    width: 28px;
    height: 28px;
    /*background: cadetblue;*/
    display: inline-block;
    cursor: pointer;
}